<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Type damage: {{ type.name | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title">Double damage from</p>
  <span class="type" *ngFor="let damage of type.damage_relations.double_damage_from">
    <img src="{{ getImageUrl(damage.url) }}" style="height: 20px;" alt="{{ damage.name }}">
  </span>

  <p class="title">Double damage to</p>
  <span class="type" *ngFor="let damage of type.damage_relations.double_damage_to">
    <img src="{{ getImageUrl(damage.url) }}" style="height: 20px;" alt="{{ damage.name }}">
  </span>

  <p class="title">Half damage from</p>
  <span class="type" *ngFor="let damage of type.damage_relations.half_damage_from">
    <img src="{{ getImageUrl(damage.url) }}" style="height: 20px;" alt="{{ damage.name }}">
  </span>

  <p class="title">Half damage to</p>
  <span class="type" *ngFor="let damage of type.damage_relations.half_damage_to">
    <img src="{{ getImageUrl(damage.url) }}" style="height: 20px;" alt="{{ damage.name }}">
  </span>

 <p class="title">No damage from</p>
  <span class="type" *ngFor="let damage of type.damage_relations.no_damage_from">
    <img src="{{ getImageUrl(damage.url) }}" style="height: 20px;" alt="{{ damage.name }}">
  </span>

  <p class="title">No damage to</p>
  <span class="type" *ngFor="let damage of type.damage_relations.no_damage_to">
    <img src="{{ getImageUrl(damage.url) }}" style="height: 20px;" alt="{{ damage.name }}">
  </span>

</ion-content>
